
html {
    scroll-behavior: smooth;
}

header {
    background-image: url(../img/bg.jpg);
    background-size: cover, auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-position: left;
    flex-direction: column;
    align-items: center;
}

body {
    background: rgb(14,14,14);
    background: linear-gradient(180deg, rgba(14,14,14,1) 0%, rgba(205,26,26,1) 900%);
    
}

.tituloPrincipal {
    max-width:100%;
    max-height:100%;
    position: relative;
    top: -130px;
   
}

.templeImg {
    display: none;
}

.linkLetsGo {
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 68px;
    height: 15px;
    top: 0px;
    text-decoration: none;
    margin:0 ;
    color: white;
    background: linear-gradient(45deg, rgb(128, 26, 26) 0%, rgba(205,26,26,1) 100%);
    padding: 15px 25px 15px 25px;
    border-radius: 30px;
}

.kyotoBannerTitle {
    color: #fafafa;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    text-align: center ;
    padding-top: 30px;
}

 .main {
    margin-left: 12px;
    margin-right: 12px;
} 

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.kyotoBannerImg {
    max-width:100%;
    max-height:100%;
    border-radius: 30px;
}

.linkVerMais {
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    width: 68px;
    height: 15px;
    top: 0px;
    text-decoration: none;
    margin:0 ;
    color: white;
    background: linear-gradient(45deg, rgba(128, 26, 26, 0.541) 0%, rgba(205,26,26,1) 100%);
    padding: 15px 25px 15px 25px;
    border-radius: 30px;
    margin-top: 20px;
}